
/* ====== GENERIC ====== */

body{
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
section{
  border-bottom: .5px solid grey;
}
.makebold{
  margin-right:10px;
  font-weight:600;
}
.makebold.active{
  border-bottom:2px solid #ff6d41;
}
a, a:hover{
  color:black;
  text-decoration:none;
}
.iconfade{
  opacity:.5;
}
figure{
  position:relative;
}
.btn{
  border-radius:0;
  border-bottom:2px solid #ff6d41;
}
.btn:hover{
  color:#ffffff;
  background-color:#d83401;
}
.makebold:hover{
  border-bottom:2px solid rgb(253, 0, 0);
}
.mybadge{
  position:absolute;
  width: 20%;
  height: 7%;
  color:#ffffff;
  font-size:1em;
  background-color:#fe4f18;
  top:4%;
  left:15%;
}
.shadow1{
  padding-top:10px;
  margin-bottom:10px;
}
.shadow1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ====== HEADER ====== */
.phone{
  padding-left:6em;
}
header{
  margin-top:30px;
}

/* ====== NAVIGATION ====== */

.navigationsection{
  font-size:16px;
  color:rgba(0,0,0,0)
}
.navbar .nav-item .nav-link{
  padding: 0.6em 2em;
  color:rgb(0, 0, 0);
}
.navigationsection img{
  width:60%;
  height:auto;
}

/* ====== BANNER ====== */

.shopnow{
  background-color:#fe4f18;
  color:#ffffff;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.bannertitle1{
  color:#fe4f18;
  font-size: 42px;
  font-weight:650;
}
.bannertitle2{
  color:#222222;
  font-size:44px;
  font-weight:600;
}
.bannersubtitle{
  font-size:20px;
  color:#222222;
  margin-bottom:50px;
}
.carousel-caption{
  top:30%;
  bottom:auto;
  left:30%;
  right:0;
  text-align:left;
  line-height: 1.6;
  margin-right:15%;
  padding-left:20%;
}
.carousel-indicators li{
  width:10px;
  height:10px;
  margin:10px 10px 20px 10px;
  opacity:1;
  border-radius:100%;
  background-color:#fe4f18;
}
.carousel-indicators .active{
  color:#d83401;
  width:10px;
  margin:0px 10px 20px 10 px;
  border-radius:100%;
  text-indent:unset;
  text-align:center;
  font-size:20px;
  background:0;
}

/* ============ PRODUCT SECTION ============== */

.productsection1 img, .productsection2 img, .productsection3 img{
  width:100%;
  height:auto;
}
.productdetails img{
 width:80%;
 height:auto;
}
.paragraph1{
  margin:30px 0 0 0;
}
.social{
  opacity:.7;
}
/* ------------ Font stylings ------------ */
section{
  text-align:center;
}
section .title{
  font-size:42px;
}
.categorytitle{
  font-weight:600;
  margin-top:70px;
}
section .description{
  font-size:16px;
  font-family:"Playfair Display","Times New Roman",serif;
  margin-bottom:50px;
}
.producttitle{
  font-size:16px;
}
.productsubtitle{
  font-size:14px;
}
.productprice{
  color:rgb(255, 0, 0);
  font-size:20px;
}
.section-subtitle{
  font-size:16px;
  font-family:"Playfair Display","Times New Roman",serif;
}

/* ============ NEWSLETTER ============== */

.newsletter{
  background:url("../images/background-newletter.jpg") no-repeat;
  background-size:100%;
  background-position:auto auto;
  color:rgb(255, 255, 255);
}
.card{
  background:transparent;
  padding:8rem
}
#subscribemail{
  height:50px;
}
.btn-danger.newssubmit{
  height:50px;
  width:8em;
  background-color: #fe4f18;
  border-radius:0;
}
#subscribe{
  width:50%;
  margin-left:25%;
  display:none;
}

/* ============ HELP ============== */

.helpsection{
  text-align: left;
  padding: 4em 0 3em 0;
}
.helpsection ul{
  font-size:16px;
  margin-top:20px;
  line-height: 2;
}
.myform{
  margin-top:20px;
}
.form-control.myinput{
  border-radius: 0;
  margin:0px 10px 10px 0px;
}
#message{
  height:5em;
}
#subscribemail{
  width:40%;
  padding:1em;
}
.btn.mybtn1,.btn.mybtn2{
  border-radius: 0;
  width: 9.4em;
  height: 3.2em;
}
.btn.mybtn1{
  background-color:#cacaca;
  border-bottom:2px solid #b7b7b7;
  margin-right:25px;
  font-weight:500;
}
.btn.mybtn2{
  background-color:#fe4f18;
  color:#ffffff;
  font-weight:500;
}

.helpheadings{
  font-size:20px;
  font-weight:600;
}
.information{
  padding-right:3em;
}
.blog-title{
  font-size:1em;
  font-weight:600;
}
.blogcontent{
  padding-left:0;
}
.blog-title{
  margin-bottom:.5em;
}
.recentposts img{
  height: 4em;
  width:auto;
}
.post{
  padding-top:1em;
  color:#999;
}
.helpsection ul{
  padding-top:.5em;
}
/* ------------ Hide Errorboxes ------------ */
#nameerror, #emailerror, #messageerror, #successsignup{
  display:none;
}

/* ============ FOOTER ============== */

footer{
  padding:1em 0 1em 0;
}
.socialmedia{
  text-align: right;
  padding-right:0;
}
.copyright{
  font-size:12px;
  color:#999;
}

/* ============ MEDIA QUERIES ============== */

/* ---------- BREAKPOINT TILL 1200px  ---------- */

@media screen and (max-width: 1200px){

}

/* ---------- BREAKPOINT TILL 990px  ---------- */

@media screen and (max-width: 990px){

}

/* ---------- BREAKPOINT TILL 768px  ---------- */

@media screen and (max-width: 768px){
  
}

/* ---------- BREAKPOINT TILL 576px  ---------- */

@media screen and (max-width: 576px){

}